.SearchedGifs {
  padding: 2em 0 2em 0;
  margin-block: auto;
}

.SearchedGifs .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SearchedGifs__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.SearchedGrid {
  columns: 4 180px;
  column-gap: 1.5em;
}

.SearchedGrid > li {
  margin-bottom: 1.5em;
}

.More__gifs {
  padding: 0.5em 1em;
  margin-top: 2em;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  background-color: #1b1b1b;
  cursor: pointer;
  align-self: center;
}

.BuscarGifs {
  text-align: center;
}

